@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  background-image: url("/assets/images/bg-pattern-top-mobile.svg"),
    url("/assets/images/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat, no-repeat;
  background-position:
    top left,
    bottom right;
}

@media (min-width: 70rem) {
  .body {
    background-image: url("/assets/images/bg-pattern-top-desktop.svg"),
      url("/assets/images/bg-pattern-bottom-desktop.svg");
  }
}

@layer utilities {
  @media (min-width: 70rem) {
    .card:nth-child(2) {
      margin-left: 3rem;
    }

    .card:nth-child(3) {
      margin-left: 6rem;
    }

    .cardTestimonial:nth-child(2) {
      margin-top: 1rem;
    }

    .cardTestimonial:nth-child(3) {
      margin-top: 3rem;
    }
  }
}
